h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
}
button {
	cursor: pointer;
	border: none;
	padding: 0;
}

input {
	font-family: inherit;
}
fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

/*-------------Не обнуляючі але треба задати ці властивості(приклад того що потрібно вказати)---------------------*/
body {
	font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
	color: #2a2a2a;
	background-color: #dbc976;
	line-height: 1.5;
}
/*-------------Якщо шрифти різні-------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Tahoma";
}
/*-------------В HTML-------------------*/
svg {
	display: block;
	fill: #2a2a2a;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.privacy-label {
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	display: block;
}
.checkbox-box-svg {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 2px;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}
.privacy-checkbox:checked + .privacy-label > .checkbox-box-svg {
	background-color: #404bbf;
	border: none;
	fill: #ffffff;
}
.delete-task {
	padding: 10px;
	background-color: aqua;
}
// #c876db
