h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

:root {
}
button {
	cursor: pointer;
	border: none;
	padding: 0;
}

input {
	font-family: inherit;
}
fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

/*-------------Не обнуляючі але треба задати ці властивості(приклад того що потрібно вказати)---------------------*/
body {
	font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
	color: #2a2a2a;
	background-color: #dbc976;
	line-height: 1.5;
}
/*-------------Якщо шрифти різні-------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Tahoma";
}
/*-------------В HTML-------------------*/
svg {
	display: block;
	fill: #2a2a2a;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1920px;
	padding: 15px;
	margin: 0 auto;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.privacy-label {
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: #8e8f99;
	display: block;
}
.checkbox-box-svg {
	// padding: 15px;
	margin-right: 8px;
	width: 40px;
	height: 40px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 10px;
	transition:
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	fill: transparent;
}
.checkbox-svg {
	width: 25px;
}
.checkbox:checked + .label > .checkbox-box-svg {
	background-color: #c876db;
	border: none;
	fill: #ffffff;
}
.task-list {
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.task {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.delete-task {
	background-color: rgba(0, 255, 255, 0.664);
	padding: 10px;
	border: 1px solid #c876db;
	border-radius: 20px;
	font-family: inherit;
	font-size: 16px;
	outline: none;
}
.header-container {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}

.header-btn {
	color: #ffffff;
	background-color: #c876db;
	padding: 20px;
	border-radius: 20px;
}
.status-tasks {
	display: flex;
	gap: 30px;
}
.status-tasks-item {
}
.status-btn-text {
	color: #ffffff;
	background-color: #c876db;
	padding: 20px;
	border-radius: 20px;
}
.main {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	gap: 100px;
}
.input-container {
}
.input-task {
	padding: 20px;
	border: 1px solid #c876db;
	border-radius: 20px;
	font-family: inherit;
	font-size: 16px;
	outline: none;
}
.btn-add {
	color: #ffffff;
	background-color: #c876db;
	padding: 20px;
	border-radius: 20px;
}
.change-task {
	padding: 10px;
	border: 1px solid #c876db;
	border-radius: 20px;
	font-family: inherit;
	font-size: 16px;
	outline: none;
}
@media (max-width: 600px) {
	.header-btn {
		display: none;
	}
	.header-container {
		justify-content: center;
	}
	.status-tasks {
		align-items: center;
		justify-content: center;
	}
	.status-btn-text {
		padding: 15px;
	}
}
